Temp/WebApplication/WebApplication/Service References/ChronoService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50899/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StateWcfService" />
  <xs:element name="GetMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="GetModeResult" type="q1:ChronoMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableReadMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableReadModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableWriteMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableWriteModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="timestamp" nillable="true" type="q2:StateTimestamp" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="GetResult" nillable="true" type="q3:State" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="state" nillable="true" type="q4:State" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Prev">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrevResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="PrevResult" nillable="true" type="q5:StateTimestamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Next">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="NextResult" nillable="true" type="q6:StateTimestamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Last">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="LastResult" nillable="true" type="q7:StateTimestamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="First">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="FirstResult" nillable="true" type="q8:StateTimestamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimestamp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimestampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/StateWcfService" minOccurs="0" name="CreateTimestampResult" nillable="true" type="q9:StateTimestamp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>