Temp/WebApplication/WebApplication/Service References/ChronoService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50899/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50899/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50899/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StateWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStateService_GetMode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMode" />
  </wsdl:message>
  <wsdl:message name="IStateService_GetMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModeResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_EnableReadMode_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableReadMode" />
  </wsdl:message>
  <wsdl:message name="IStateService_EnableReadMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableReadModeResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_EnableWriteMode_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableWriteMode" />
  </wsdl:message>
  <wsdl:message name="IStateService_EnableWriteMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableWriteModeResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IStateService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IStateService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_Prev_InputMessage">
    <wsdl:part name="parameters" element="tns:Prev" />
  </wsdl:message>
  <wsdl:message name="IStateService_Prev_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrevResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_Next_InputMessage">
    <wsdl:part name="parameters" element="tns:Next" />
  </wsdl:message>
  <wsdl:message name="IStateService_Next_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_Last_InputMessage">
    <wsdl:part name="parameters" element="tns:Last" />
  </wsdl:message>
  <wsdl:message name="IStateService_Last_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_First_InputMessage">
    <wsdl:part name="parameters" element="tns:First" />
  </wsdl:message>
  <wsdl:message name="IStateService_First_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirstResponse" />
  </wsdl:message>
  <wsdl:message name="IStateService_CreateTimestamp_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTimestamp" />
  </wsdl:message>
  <wsdl:message name="IStateService_CreateTimestamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTimestampResponse" />
  </wsdl:message>
  <wsdl:portType name="IStateService">
    <wsdl:operation name="GetMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/GetMode" message="tns:IStateService_GetMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/GetModeResponse" message="tns:IStateService_GetMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableReadMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/EnableReadMode" message="tns:IStateService_EnableReadMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/EnableReadModeResponse" message="tns:IStateService_EnableReadMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableWriteMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/EnableWriteMode" message="tns:IStateService_EnableWriteMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/EnableWriteModeResponse" message="tns:IStateService_EnableWriteMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/Get" message="tns:IStateService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/GetResponse" message="tns:IStateService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/Save" message="tns:IStateService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/SaveResponse" message="tns:IStateService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Prev">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/Prev" message="tns:IStateService_Prev_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/PrevResponse" message="tns:IStateService_Prev_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Next">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/Next" message="tns:IStateService_Next_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/NextResponse" message="tns:IStateService_Next_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Last">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/Last" message="tns:IStateService_Last_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/LastResponse" message="tns:IStateService_Last_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="First">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/First" message="tns:IStateService_First_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/FirstResponse" message="tns:IStateService_First_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTimestamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateService/CreateTimestamp" message="tns:IStateService_CreateTimestamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateService/CreateTimestampResponse" message="tns:IStateService_CreateTimestamp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStateService" type="tns:IStateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMode">
      <soap:operation soapAction="http://tempuri.org/IStateService/GetMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableReadMode">
      <soap:operation soapAction="http://tempuri.org/IStateService/EnableReadMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableWriteMode">
      <soap:operation soapAction="http://tempuri.org/IStateService/EnableWriteMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IStateService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IStateService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Prev">
      <soap:operation soapAction="http://tempuri.org/IStateService/Prev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Next">
      <soap:operation soapAction="http://tempuri.org/IStateService/Next" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Last">
      <soap:operation soapAction="http://tempuri.org/IStateService/Last" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="First">
      <soap:operation soapAction="http://tempuri.org/IStateService/First" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTimestamp">
      <soap:operation soapAction="http://tempuri.org/IStateService/CreateTimestamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IStateService" binding="tns:BasicHttpBinding_IStateService">
      <soap:address location="http://localhost:50899/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>