Temp/WebApplication/WebApplication/Service References/ChronoService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StateWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StateWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ChronoMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Read" />
      <xs:enumeration value="Write" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChronoMode" nillable="true" type="tns:ChronoMode" />
  <xs:complexType name="StateTimestamp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateTimestamp" nillable="true" type="tns:StateTimestamp" />
  <xs:complexType name="State">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateTimestamp" nillable="true" type="tns:StateTimestamp" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
</xs:schema>